{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
{% render_table table %}


<table>
  <thead>
  <tr>
    <th>
      grade
    </th>

    <th>
      Select
    </th>
  </thead>
  <tbody>
  </tr>
    {% for tuple in grade_spread %}
    <form method='post'>
        <tr>
          <td>
            <input name='grade' value='{{tuple}}'>{{tuple}}
        </td>

          <td>
            <input type='submit' value="Submit">
          </td>
        </tr>
    </form>
{% endfor %}
</tbody>
</table>
{% endblock %}
