{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Grade Queue</h3>
          <h6 class="card-subtitle mb-2 text-muted">Please choose a climb before you start setting</h6>
          {% render_table table %}
          {% ifequal user.groups.all.0.name 'Foreman' %}
          <a class="btn btn-success mb-2" href="{% url 'climb_create' %}">Add a Climb</a>
          <a class="btn btn-success mb-2" href="{% url 'verify_spread' %}">Modify Spread</a>
          {% endifequal %}

          {% if table_len < 1%}
          <a class="btn btn-success mb-2" href="{% url 'climb_create' %}">Add a Climb</a>
          {% endif %}
       </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Climbs currently in progress.</h3>
           <h6 class="card-subtitle mb-2 text-muted"></h6>
          {% render_table in_progress_table %}
          {% ifequal user.groups.all.0.name 'Foreman' %}

          <a class="btn btn-success mb-2" href="{% url 'climb_verification' %}">Verify climbs</a>

          {% endifequal %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
