{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}

<script>
jQuery(function($) {
    $('.table').checkboxes('range', true);
});
</script>
<h1>Select climbs</h1>


<p>Use the checkbox to select the climbs for removal. For ease of selection select the first climb
  and then hold the Shift key down while selecting the last climb in the page.
</p>

<form method="post" novalidate>

  {% csrf_token %}
<button type="submit" class="btn btn-success mb-2">Select for Removal</button>
  {% render_table table %}
</form>
{% endblock %}
