{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Grade count by Area</h3>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
               {% render_table area_pivot %}
       </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Grade count by Setter</h3>
         <h6 class="card-subtitle mb-2 text-muted"></h6>
        {% render_table setter_pivot %}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Climb count by Color</h3>
         <h6 class="card-subtitle mb-2 text-muted"></h6>
        {% render_table color_count %}
      </div>
    </div>
</div>

{% endblock %}
