{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<p>Number of climbs: {{ num_climbs }}</p>

{% render_table table %}

<form name='form' method="post" action="{% url 'climb_set' %}" novalidate>
  {% csrf_token %}

Quantity to reset:
<input type="number" name="quantity"
 min="0" max="100" step="1" value="{{num_climbs}}">
<input class="btn btn-success" type="submit" value="Confirm Removal and Create Spread" />

<a class="btn btn-success" href="{% url 'climbs_list' climb_type %}">Re-select</a>
</form>
{% endblock %}
